/* Global CSS */
body,
html {
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif;
  overflow-x: hidden;
}

/* Website Theme Colors */
.os-blue {
  color: #095788;
}

.os-steelblue {
  color: #679db4;
}

.os-greybeige {
  color: #a5a184;
}

.os-sand {
  color: #e0d6a5;
}

.os-white {
  color: white;
}

.os-no-link {
  text-decoration: none;
  color: white;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.os-no-link:hover {
  color: #e0d6a5;
  transform: translateY(-5px);
}

.os-img-attr {
  position: absolute;
  font-size: xx-small;
  color: white;
  padding: 10px;
  inset: 0;
}
