/* Global CSS */

.os-blue {
  color: #095788;
}

.os-steelblue {
  color: #679db4;
}

/* .os-steelblue {
  color: #58889C;
} */

.os-greybeige {
  color: #A5A184;
}

.os-sand {
  color: #E0D6A5;
}

.os-white {
  color: white;
}
