.os-footer {
  width: 100%;
  background-color: #679db4;
  color: white;
  text-align: center;
  font-size: small;
  padding: 4px;
}

.os-footer * {
  padding: 0px 15px;
}

.os-footer-menu:hover {
  text-decoration: underline;
}
